In [8]:
import pandas as pd
import numpy as np

In [9]:
import time
import datetime
from datetime import timezone


# Getting the current date
# and time
dt = datetime.datetime.now(timezone.utc)

utc_time = dt.replace(tzinfo=timezone.utc)
utc_timestamp = utc_time.timestamp()

print(utc_timestamp, time.time())

1673796701.331678 1673796701.3317535

In [10]:
import math

symbol = "TCB"
resolution = "1"
from_time = 1431907200
to_time = int(math.floor(utc_timestamp))
from_time, to_time

(1431907200, 1673796701)

## TCBS

In [11]:
%%time
import requests

headers = {
    "sec-ch-ua": '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
    "Accept-language": "vi",
    "sec-ch-ua-mobile": "?0",
    # "Authorization": "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhdXRoZW5fc2VydmljZSIsImV4cCI6MTY3MzczNDk0NywianRpIjoiIiwiaWF0IjoxNjczNzA2MTQ3LCJzdWIiOiIwMDAxOTc3NjY3IiwiY3VzdG9keUlEIjoiMTA1Qzg3NzY2NyIsImVtYWlsIjoiaGllbm5ndXllbjk4NzRAZ21haWwuY29tIiwicm9sZXMiOlsiY3VzdG9tZXIiLCJBcHBsaWNhdGlvbi9DQUZGRUlORV9CRVRBX1VTRVJfQ1JFTUEiLCJBcHBsaWNhdGlvbi9DQUZGRUlORV9CRVRBX1VTRVJfQ1JFTUFfQksxIl0sInN0ZXB1cF9leHAiOjAsInNvdHBfc2lnbiI6IiIsImNsaWVudF9rZXkiOiJRcjMwa1JmaktjZTl3RzhNUEx5Y3ZNWHY0bUtucGtlSiIsInNlc3Npb25JRCI6IjlmZTRlYmRhLWJkNzQtNGYxZS04ZThjLWEyMzVmYTZkYzM2ZiIsImFjY291bnRfc3RhdHVzIjoiMSIsIm90cCI6IiIsIm90cFR5cGUiOiIiLCJvdHBTb3VyY2UiOiJUQ0lOVkVTVCIsIm90cFNlc3Npb25JZCI6IiJ9.tBOHbPGUdpuFWG_7BxtwJqMa6jVGwVi1ykD-IPFQ2pBiZUtgNvXLuqxLkvPpK_vjRvVSbZCi0lIootrrkNtCoitxhwQmSV1i7CjhCTR8tbPCZIAVO91-e24yln6LVTq_5500Av6xbhx1WB2llxfQFaOYM31AiFmt_2aBL7hxToxmoJNEV349PqlehXo5GS6VYKb-OcCgTsgDe5UXbaso6kI78AsqMCF7-rUo8Eu-y61vv7ibzIkBs1_YEVbhxsIbplpJDTseIKBRwM5YFHLYH7jSReXl0_A4pZez2iSaeo3pfSx1FvtVAlrx9sX2jMbyrjYRjCzZP1LzJJkrltlc1A",
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36",
    "Content-Type": "application/json",
    "Accept": "application/json",
    "Referer": "https://tcinvest.tcbs.com.vn/",
    "sec-ch-ua-platform": '"Linux"',
}

params = {
    "ticker": symbol,
    "type": "stock",
    "resolution": resolution,
    # "from": from_time,
    "to": to_time,
    "countBack": "1000",
}

response = requests.get(
    "https://apipubaws.tcbs.com.vn/stock-insight/v2/stock/bars", params=params, headers=headers
)

results = response.json()

df = pd.DataFrame(results["data"])
df["tradingDate"] = (
    (pd.to_datetime(df["tradingDate"]).astype(int) / 10**9).apply(np.floor).astype(int)
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open         250 non-null    float64
 1   high         250 non-null    float64
 2   low          250 non-null    float64
 3   close        250 non-null    float64
 4   volume       250 non-null    int64
 5   tradingDate  250 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 11.8 KB
CPU times: user 70.1 ms, sys: 4.99 ms, total: 75 ms
Wall time: 276 ms

In [12]:
# import pandas as pd
# import requests

# headers = {
#     "sec-ch-ua": '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
#     "Accept-language": "vi",
#     "sec-ch-ua-mobile": "?0",
#     # 'Authorization': 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhdXRoZW5fc2VydmljZSIsImV4cCI6MTY3MzczNDk0NywianRpIjoiIiwiaWF0IjoxNjczNzA2MTQ3LCJzdWIiOiIwMDAxOTc3NjY3IiwiY3VzdG9keUlEIjoiMTA1Qzg3NzY2NyIsImVtYWlsIjoiaGllbm5ndXllbjk4NzRAZ21haWwuY29tIiwicm9sZXMiOlsiY3VzdG9tZXIiLCJBcHBsaWNhdGlvbi9DQUZGRUlORV9CRVRBX1VTRVJfQ1JFTUEiLCJBcHBsaWNhdGlvbi9DQUZGRUlORV9CRVRBX1VTRVJfQ1JFTUFfQksxIl0sInN0ZXB1cF9leHAiOjAsInNvdHBfc2lnbiI6IiIsImNsaWVudF9rZXkiOiJRcjMwa1JmaktjZTl3RzhNUEx5Y3ZNWHY0bUtucGtlSiIsInNlc3Npb25JRCI6IjlmZTRlYmRhLWJkNzQtNGYxZS04ZThjLWEyMzVmYTZkYzM2ZiIsImFjY291bnRfc3RhdHVzIjoiMSIsIm90cCI6IiIsIm90cFR5cGUiOiIiLCJvdHBTb3VyY2UiOiJUQ0lOVkVTVCIsIm90cFNlc3Npb25JZCI6IiJ9.tBOHbPGUdpuFWG_7BxtwJqMa6jVGwVi1ykD-IPFQ2pBiZUtgNvXLuqxLkvPpK_vjRvVSbZCi0lIootrrkNtCoitxhwQmSV1i7CjhCTR8tbPCZIAVO91-e24yln6LVTq_5500Av6xbhx1WB2llxfQFaOYM31AiFmt_2aBL7hxToxmoJNEV349PqlehXo5GS6VYKb-OcCgTsgDe5UXbaso6kI78AsqMCF7-rUo8Eu-y61vv7ibzIkBs1_YEVbhxsIbplpJDTseIKBRwM5YFHLYH7jSReXl0_A4pZez2iSaeo3pfSx1FvtVAlrx9sX2jMbyrjYRjCzZP1LzJJkrltlc1A',
#     "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36",
#     "Content-Type": "application/json",
#     "Accept": "application/json",
#     "Referer": "https://tcinvest.tcbs.com.vn/",
#     "sec-ch-ua-platform": '"Linux"',
# }

# params = {
#     "ticker": "TCB",
#     "type": "stock",
#     "resolution": "W",
#     "to": "1673913600",
#     "countBack": "301",
# }

# response = requests.get(
#     "https://apipubaws.tcbs.com.vn/stock-insight/v2/stock/bars-long-term",
#     params=params,
#     headers=headers,
# )

# results = response.json()
# df = pd.DataFrame(results["data"])
# df["tradingDate"] = pd.to_datetime(df["tradingDate"])
# df

## SSI

In [13]:
%%time
import requests

headers = {
    "Accept": "application/json, text/plain, */*",
    "Accept-Language": "vi,en;q=0.9",
    "Connection": "keep-alive",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-origin",
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36",
    "sec-ch-ua": '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": '"Linux"',
}

params = {
    "resolution": resolution,
    "symbol": symbol,
    "from": str(from_time),
    "to": str(to_time),
}

response = requests.get(
    "https://iboard.ssi.com.vn/dchart/api/history",
    params=params,
    # cookies=cookies,
    headers=headers,
)
results = response.json()

df = pd.DataFrame(
    {
        "open": results["o"],
        "high": results["h"],
        "low": results["l"],
        "close": results["c"],
        "volume": results["v"],
        "tradingDate": results["t"],
    }
)
df["tradingDate"] = pd.to_datetime(df["tradingDate"], unit="s")
df

CPU times: user 88.6 ms, sys: 0 ns, total: 88.6 ms
Wall time: 568 ms

       open   high    low  close  volume         tradingDate
0     29.00  29.00  28.85  28.85  202700 2022-12-16 02:15:59
1     28.85  28.90  28.70  28.85  111700 2022-12-16 02:16:59
2     28.80  28.80  28.60  28.70  124300 2022-12-16 02:17:59
3     28.65  28.75  28.60  28.70   71600 2022-12-16 02:18:58
4     28.70  28.75  28.60  28.75  135900 2022-12-16 02:19:59
...     ...    ...    ...    ...     ...                 ...
4331  27.85  27.90  27.80  27.80   14100 2023-01-13 07:26:48
4332  27.85  27.85  27.85  27.85   22600 2023-01-13 07:27:58
4333  27.85  27.85  27.80  27.85   33200 2023-01-13 07:28:56
4334  27.85  27.85  27.80  27.80   30100 2023-01-13 07:29:49
4335  27.80  27.80  27.80  27.80  157800 2023-01-13 07:45:02

[4336 rows x 6 columns]

## VPS

In [14]:
%%time
import requests
import pandas as pd

headers = {
    "Accept": "*/*",
    "Accept-Language": "vi,en;q=0.9",
    "Connection": "keep-alive",
    "Origin": "https://chart.vps.com.vn",
    "Referer": "https://chart.vps.com.vn/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36",
    "sec-ch-ua": '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": '"Linux"',
}

params = {
    "resolution": resolution,
    "symbol": symbol,
    "from": str(from_time),
    "to": str(to_time),
}

response = requests.get(
    "https://histdatafeed.vps.com.vn/tradingview/history", params=params, headers=headers
)

results = response.json()

df = pd.DataFrame(
    {
        "open": results["o"],
        "high": results["h"],
        "low": results["l"],
        "close": results["c"],
        "volume": results["v"],
        "tradingDate": results["t"],
    }
)
df["tradingDate"] = pd.to_datetime(df["tradingDate"], unit='s')
df

CPU times: user 83.6 ms, sys: 0 ns, total: 83.6 ms
Wall time: 209 ms

       open   high    low  close  volume         tradingDate
0     27.80  27.80  27.70  27.80   36300 2023-01-09 02:15:00
1     27.80  27.80  27.80  27.80    1300 2023-01-09 02:16:00
2     27.80  27.80  27.80  27.80   11400 2023-01-09 02:17:00
3     27.85  27.85  27.85  27.85    2800 2023-01-09 02:18:00
4     27.85  27.85  27.70  27.70   62800 2023-01-09 02:19:00
...     ...    ...    ...    ...     ...                 ...
1048  27.80  27.85  27.80  27.85   11800 2023-01-13 07:27:00
1049  27.85  27.85  27.80  27.85   22100 2023-01-13 07:28:00
1050  27.85  27.85  27.80  27.80   51400 2023-01-13 07:29:00
1051  27.80  27.80  27.80  27.80     700 2023-01-13 07:30:00
1052  27.80  27.80  27.80  27.80  157800 2023-01-13 07:45:00

[1053 rows x 6 columns]

## VND

In [15]:
%%time
import requests
import pandas as pd

headers = {
    "Accept": "application/json, text/plain, */*",
    "Accept-Language": "vi,en;q=0.9",
    "Connection": "keep-alive",
    "Origin": "https://dchart.vndirect.com.vn",
    "Referer": "https://dchart.vndirect.com.vn/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36",
    "sec-ch-ua": '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": '"Linux"',
}

params = {
    "resolution": resolution,
    "symbol": symbol,
    "from": str(from_time),
    "to": str(to_time),
}

response = requests.get(
    "https://dchart-api.vndirect.com.vn/dchart/history", params=params, headers=headers
)

results = response.json()

df = pd.DataFrame(
    {
        "open": results["o"],
        "high": results["h"],
        "low": results["l"],
        "close": results["c"],
        "volume": results["v"],
        "tradingDate": results["t"],
    }
)
df["tradingDate"] = pd.to_datetime(df["tradingDate"], unit='s')
df

CPU times: user 126 ms, sys: 2.74 ms, total: 129 ms
Wall time: 3 s

        open   high   low  close  volume         tradingDate
0      53.50  53.50  53.4  53.40  179000 2021-11-05 02:15:00
1      53.50  53.50  53.3  53.30   42900 2021-11-05 02:16:00
2      53.30  53.40  53.2  53.30   86200 2021-11-05 02:17:00
3      53.30  53.40  53.3  53.30   18900 2021-11-05 02:18:00
4      53.30  53.30  53.2  53.30    7000 2021-11-05 02:19:00
...      ...    ...   ...    ...     ...                 ...
28931  27.80  27.85  27.8  27.85   11800 2023-01-13 07:27:00
28932  27.85  27.85  27.8  27.85   22100 2023-01-13 07:28:00
28933  27.85  27.85  27.8  27.80   51400 2023-01-13 07:29:00
28934  27.80  27.80  27.8  27.80     700 2023-01-13 07:30:00
28935  27.80  27.80  27.8  27.80  157800 2023-01-13 07:45:00

[28936 rows x 6 columns]

## MBS

In [16]:
%%time
import requests
import pandas as pd

headers = {
    "authority": "plus24.mbs.com.vn",
    "accept": "*/*",
    "accept-language": "vi,en;q=0.9",
    "referer": "https://plus24.mbs.com.vn/apps/StockBoard/MBS/chi-tiet-ma.html?id=ACB",
    "sec-ch-ua": '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": '"Linux"',
    "sec-fetch-dest": "empty",
    "sec-fetch-mode": "cors",
    "sec-fetch-site": "same-origin",
    "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36",
}

params = {
    "resolution": resolution,
    "symbol": symbol,
    "from": str(from_time),
    "to": str(to_time),
}

response = requests.get(
    "https://plus24.mbs.com.vn/tradingview/api/1.1/history",
    params=params,
    headers=headers,
)

results = response.json()

df = pd.DataFrame(
    {
        "open": results["o"],
        "high": results["h"],
        "low": results["l"],
        "close": results["c"],
        "volume": results["v"],
        "tradingDate": results["t"],
    }
)
df["tradingDate"] = pd.to_datetime(df["tradingDate"], unit='s')
df

CPU times: user 235 ms, sys: 6.91 ms, total: 242 ms
Wall time: 3.41 s

        open   high    low  close    volume         tradingDate
0      51.70  51.80  51.70  51.80  189400.0 2021-11-01 02:15:00
1      51.70  51.90  51.70  51.80   70500.0 2021-11-01 02:16:00
2      51.80  51.80  51.70  51.80   41800.0 2021-11-01 02:17:00
3      51.80  51.80  51.70  51.80   58700.0 2021-11-01 02:18:00
4      51.80  51.80  51.60  51.70  109000.0 2021-11-01 02:19:00
...      ...    ...    ...    ...       ...                 ...
67434  27.85  27.90  27.80  27.80   14100.0 2023-01-13 07:26:00
67435  27.85  27.85  27.85  27.85   22600.0 2023-01-13 07:27:00
67436  27.85  27.85  27.80  27.85   33200.0 2023-01-13 07:28:00
67437  27.85  27.85  27.80  27.80   30100.0 2023-01-13 07:29:00
67438  27.80  27.80  27.80  27.80  157800.0 2023-01-13 07:45:00

[67439 rows x 6 columns]